/* Variables */
@pageMV: 50px;

/* Open Sans font */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic');

* {
	margin: 0;
}

body, label, input, select, textarea, .btn .close, .alert-message .close {
    font-family: 'Open Sans';
	font-weight: 400;
}

body {
    margin: @pageMV 0 @pageMV 0;
}

div#home-container {
	margin-top: 4 * @pageMV;
}

div#logo {
	font-family: 'Open Sans';
	font-size: 4em;
	font-weight: 300;
}

div#description {
	font-family: 'Open Sans';
	font-size: 2em;
	font-weight: 300;
	line-height: 1.25em;
	margin-top: 1.25em;
}

ul.input-shift {
	margin-left: 150px;
}