/* Open Sans font */
@font-face {
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('opensans/Open Sans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('opensans/Open Sans Light.woff') format('woff');
}

body, label, input, select, textarea, .btn .close, .alert-message .close {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	margin: 5em 0 5em 0;
}

h1 {
    font-size: 2em;
	font-weight: 300;
}

h2 {
    font-size: 1.6em;
	font-weight: 300;
}

h1, h2 {
	margin-top: .5em;
	margin-bottom: .25em;
}

div.top-shift {
	margin-top: 15em;
}

span.logo {
	font-size: 4em;
	font-weight: 300;
}

table td {
    border-top: none;
}

table tr {
    border-top: 1px solid #ddd;
}

table tr:first-child {
    border-top: none;
}

table td.tail {
	text-align: right;
	white-space: nowrap;
}

ul.input-shift {
	margin-left: 180px;
}

form label {
	width: 160px;
}

form .input {
    margin-left: 180px;
}

form .text-input {
	padding: 0;
	line-height: inherit;
}

.btn.small {
	padding: 2px 6px;
}

.modal {
    max-height: inherit;
    overflow: hidden;
    width: 760px;
    margin: -300px 0 0 -380px;
}

.modal-body {
	margin-left: 1em;
    max-height: 525px;
    overflow: auto;
}

.modal-body h1 {
    margin-bottom: 1em;
}

.modal-body input {
    font-size: 2em;
    height: auto;
}

span.unexistent {
	color: #999999;
}

span.useless {
	text-decoration: line-through;
}

.input.stars .btn, .input.icons .btn {
    height: 24px;
    margin-right: 1em;
    padding: 0;
    width: 24px;
}

.input.icons .btn {
    background: #ffffff no-repeat 50% 50%;
    border-radius: 0;
    border: solid 1px #bfbfbf;
}

.input.icons .btn .selected {
    border-color: #00438a;
}

input[type="text"].aligned {
    text-align: right;
}