#{extends "risk.html"/}
#{set title:messages.get("project.name")/}

<div class="container">
	<div class="row">
		<div class="span16"><h1>&{"page.asset.primary"}</h1></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span8"><h2>&{"page.asset.primary.process"}</h2></div>
		<div class="span8"><h2>&{"page.asset.primary.info"}</h2></div>
	</div>
	<div class="row">
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:primaryProcessAssets, as:"asset"}
				<tr><td class='activator' primary-data-id="${asset.id}" data-controls-modal="primary-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
				${asset.name}
				</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:primaryInfoAssets, as:"asset"}
				<tr><td class='activator' primary-data-id="${asset.id}" data-controls-modal="primary-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
				${asset.name}
				</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
	</div>
	<div class="row">
		<div class="span8">
		#{form @PrimaryAssetController.add()}
			<input name="type" type="hidden" value="${models.PrimaryAsset.Type.PROCESS}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
		<div class="span8">
		#{form @PrimaryAssetController.add()}
			<input name="type" type="hidden" value="${models.PrimaryAsset.Type.INFO}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span16"><h1>&{"page.asset.supporting"}</h1></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span8"><h2>&{"page.asset.supporting.hardware"}</h2></div>
		<div class="span8"><h2>&{"page.asset.supporting.software"}</h2></div>
	</div>
	<div class="row">
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingHardwareAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingSoftwareAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
	</div>
	<div class="row">
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.HARDWARE}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.SOFTWARE}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span8"><h2>&{"page.asset.supporting.network"}</h2></div>
		<div class="span8"><h2>&{"page.asset.supporting.personnel"}</h2></div>
	</div>
	<div class="row">
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingNetworkAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingPersonnelAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
	</div>
	<div class="row">
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.NETWORK}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.PERSONNEL}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span8"><h2>&{"page.asset.supporting.site"}</h2></div>
		<div class="span8"><h2>&{"page.asset.supporting.organization"}</h2></div>
	</div>
	<div class="row">
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingSiteAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
		<div class="span8">
			<table class="condensed-table"><tbody>
			#{list items:supportingOrganizationAssets, as:"asset"}
			<tr><td class='activator' supporting-data-id="${asset.id}" data-controls-modal="supporting-modal" data-backdrop="true" data-keyboard="true">
				#{if asset.icon}<img class='icon' src="${play.configuration.getProperty('external.fugue.path')}${asset.icon}"/>#{/if}
			${asset.name}
			</td></tr>
			#{/list}
			#{else}<tr><td>&{"page.asset.nothing"}</td></tr>#{/else}
			</tbody></table>
		</div>
	</div>
	<div class="row">
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.SITE}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
		<div class="span8">
		#{form @SupportingAssetController.add()}
			<input name="type" type="hidden" value="${models.SupportingAsset.Type.ORGANIZATION}"/>
			<input class="span7" name="name" type="text" title="&{"form.new"}"/>
		#{/form}
		</div>
	</div>
</div>

<div id="primary-modal" class="modal hide">
	<div class="modal-body">
		<h1></h1>

		<form action="#">
			<div class="clearfix">
				<label>&{'page.asset.icon'}</label>
				<div class="input icons icon"></div>
			</div>
			<div class="clearfix">
				<label>&{'page.asset.owner'}</label>
				<div class="input owner"><input class="span7" type="text"/></div>
			</div>
			<div class="clearfix">
				<label>&{'page.asset.criticality'}</label>
				<div class="input icons criticality">
					<a class="btn"></a><a class="btn"></a><a class="btn"></a><a class="btn"></a><a class="btn"></a>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">&{"form.close"}</a>
		<a href="#" class="btn danger">&{"form.delete"}</a>
	</div>
</div>

<div id="supporting-modal" class="modal hide">
	<div class="modal-body">
		<h1></h1>

		<form action="#">
			<div class="clearfix">
				<label>&{'page.asset.icon'}</label>
				<div class="input icons icon"></div>
			</div>
			<div class="clearfix">
				<label>&{'page.asset.owner'}</label>
				<div class="input owner"><input class="span7" type="text"/></div>
			</div>
			<div class="clearfix">
				<label>&{'page.asset.primary.process'}</label>
				<div class="input process"></div>
			</div>
			<div class="clearfix">
				<label>&{'page.asset.primary.info'}</label>
				<div class="input info"></div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn primary">&{"form.close"}</a>
		<a href="#" class="btn danger">&{"form.delete"}</a>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var sourcePrimaryList = #{jsAction @PrimaryAssetController.list(":type")/};
		var sourcePrimaryGet = #{jsAction @PrimaryAssetController.get(":id")/};
		var sourcePrimaryDelete = #{jsAction @PrimaryAssetController.delete(":id")/};
		var sourcePrimaryIconSet = #{jsAction @PrimaryAssetController.setIcon(":id",":value")/};
		var sourcePrimaryOwnerSet = #{jsAction @PrimaryAssetController.setOwner(":id",":value")/};
		var sourcePrimaryCriticalitySet = #{jsAction @PrimaryAssetController.setCriticality(":id",":value")/};
		var sourceSupportingGet = #{jsAction @SupportingAssetController.get(":id")/};
		var sourceSupportingDelete = #{jsAction @SupportingAssetController.delete(":id")/};
		var sourceSupportingIconSet = #{jsAction @SupportingAssetController.setIcon(":id",":value")/};
		var sourceSupportingOwnerSet = #{jsAction @SupportingAssetController.setOwner(":id",":value")/};
		var sourceSupportingBind = #{jsAction @SupportingAssetController.bind(":id",":value")/};
		var sourceSupportingUnbind = #{jsAction @SupportingAssetController.unbind(":id",":value")/};

		var renderPrimaryModal = function(modal,data) {
			modal.find("h1").text(data.name);

			var icons = modal.find(".icon");
			if (data.icons.length) {
				icons.empty();
				$.each(data.icons,function(i) {
					var btn = $(document.createElement("a"));
					btn.attr("data-icon",data.icons[i]);
					btn.addClass("btn");
					if (data.icon == data.icons[i]) {
						btn.addClass("selected");
					}
					btn.css("background-image","url(${play.configuration.getProperty('external.fugue.path')}" + data.icons[i] + ")");
					btn.click(function() {
						$.post(sourcePrimaryIconSet({id: data.id, value: $(this).attr("data-icon")}),function(data) {
							renderPrimaryModal(modal,data)
						});
					});
					icons.append(btn);
				});
			}
			else {
				icons.parent().hide();
			}

			var owner = modal.find(".owner input");
			owner.attr("value",data.owner);
			owner.change(function() {
				$.post(sourcePrimaryOwnerSet({id: data.id, value: $(this).attr("value")}));
			});

			var criticality = modal.find(".icons.criticality .btn");
			$.each(criticality,function(i) {
				var btn = criticality.eq(i);
				var clazz = data.criticality == i ? "star.png" : "star-empty.png";
				if (data.criticality == i) {
					btn.addClass("selected");
				}
				else {
					btn.removeClass("selected");
				}
				btn.css("background-image","url('${play.configuration.getProperty('external.fugue.path')}star.png')");
				btn.click(function() {
					$.post(sourcePrimaryCriticalitySet({id: data.id, value: $(this).parent().find("> *").index(this)}),function(data) {
						renderPrimaryModal(modal,data)
					});
				});
			});

			var deleteBtn = modal.find(".btn.danger");
			deleteBtn.click(function() {
				$.post(sourcePrimaryDelete({id: data.id}),function() {
					location.reload();
				});
			});

			var closeBtn = modal.find(".btn.primary");
			closeBtn.click(function() {
				location.reload();
			});

			$(this).bind("hide",function() {
				location.reload();
			});
		};

		var renderSupportingModal = function(modal,data) {
			modal.find("h1").text(data.name);

			var icons = modal.find(".icon");
			if (data.icons.length) {
				icons.empty();
				$.each(data.icons,function(i) {
					var btn = $(document.createElement("a"));
					btn.attr("data-icon",data.icons[i]);
					btn.addClass("btn");
					if (data.icon == data.icons[i]) {
						btn.addClass("selected");
					}
					btn.css("background-image","url(${play.configuration.getProperty('external.fugue.path')}" + data.icons[i] + ")");
					btn.click(function() {
						$.post(sourceSupportingIconSet({id: data.id, value: $(this).attr("data-icon")}),function(data) {
							renderSupportingModal(modal,data)
						});
					});
					icons.append(btn);
				});
			}
			else {
				icons.parent().hide();
			}

			var owner = modal.find(".owner input");
			owner.attr("value",data.owner);
			owner.change(function() {
				$.post(sourceSupportingOwnerSet({id: data.id, value: $(this).attr("value")}));
			});

			var buildList = function(data2) {
				var ul = $(document.createElement("ul"));
				ul.addClass("inputs-list");
				$.each(data2,function(i) {
					var li = $(document.createElement("li"));
					var label = $(document.createElement("label"));
					var box = $(document.createElement("input"));
					box.attr("type","checkbox");
					$.each(data.primaryAssets,function(j) {
						if (data2[i].id == data.primaryAssets[j].id) {
							box.prop("checked",true);
						}
					});
					box.click(function() {
						if (box.prop("checked")) {
							$.post(sourceSupportingBind({id: data.id, value: data2[i].id}));
						}
						else {
							$.post(sourceSupportingUnbind({id: data.id, value: data2[i].id}));
						}
					});
					label.append(box);
					var span = $(document.createElement("span"));
					var img = $(document.createElement("img"));
					img.addClass("icon");
					img.attr("src","${play.configuration.getProperty("external.fugue.path")}" + data2[i].icon);
					span.append(img);
					span.append(data2[i].name);
					label.append(span);
					li.append(label);
					ul.append(li);
				});
				return ul;
			};

			var process = modal.find(".process");
			process.empty();
			$.get(sourcePrimaryList({type: "PROCESS"}),function(data2) {
				if (data2.length) {
					process.append(buildList(data2));
				}
				else {
					process.parent().hide();
				}
			});

			var info = modal.find(".info");
			info.empty();
			$.get(sourcePrimaryList({type: "INFO"}),function(data2) {
				if (data2.length) {
					info.append(buildList(data2));
				}
				else {
					info.parent().hide();
				}
			});

			var deleteBtn = modal.find(".btn.danger");
			deleteBtn.click(function() {
				$.post(sourceSupportingDelete({id: data.id}),function() {
					location.reload();
				});
			});

			var closeBtn = modal.find(".btn.primary");
			closeBtn.click(function() {
				location.reload();
			});

			$(this).bind("hide",function() {
				location.reload();
			});
		};

		$(".activator[primary-data-id]").click(function() {
			$.get(sourcePrimaryGet({id: $(this).attr("primary-data-id")}),function(data) {
				renderPrimaryModal($("#primary-modal"),data)
			});
		});

		$(".activator[supporting-data-id]").click(function() {
			$.get(sourceSupportingGet({id: $(this).attr("supporting-data-id")}),function(data) {
				renderSupportingModal($("#supporting-modal"),data)
			});
		});

		$(".modal .btn.primary").click(function() {
			$(this).parents(".modal:first").modal("hide");
		});
	});
</script>