#{extends 'risk.html'/}
#{set title:messages.get('project.name')/}
*{<div class="alert-message block-message info">}*
	*{<p>&{'page.context.hint.general.1'}</p>}*
	*{<p>}*
	*{#{if scope.commercial}&{'page.context.hint.commercial.1'}#{/if}}*
					*{#{else}&{'page.context.hint.commercial.2'}#{/else}}*
	*{</p>}*
*{</div>}*
<div class='container'>
	<div class='row'>
		<div class='span16'>
			<h1>&{'page.context.scope.title'}</h1>

			#{form @RiskController.setScope()}
				<div class='clearfix'>
					<label for='form-name'>&{'form.scope.name'}</label>
					<div class='input'><textarea enter-driven id="form-name" name="name" class='span13'>${scope.name}</textarea></div>
				</div>
				<div class="clearfix">
					<label class='text-input'>&{'form.scope.aim'}</label>
					<div class='input text-input'>
						#{if scope.commercial}<a href='@{RiskController.setScopeCommercial(false)}'>&{'form.scope.aim.1'}</a>#{/if}
						#{else}<a href='@{RiskController.setScopeCommercial(true)}'>&{'form.scope.aim.2'}</a>#{/else}
					</div>
				</div>
				<div class="clearfix">
					<label for="boundaries">&{'form.scope.boundaries'}</label>
					<div class="input"><textarea enter-driven class="span13" id="boundaries" name="boundaries" rows="5">${scope.boundaries}</textarea></div>
				</div>
			#{/form}
		</div>
	</div>
</div>