#{extends 'risk.html'/}
#{set title:messages.get('project.name')/}

<div class='container'>
	<div class='row'>
		<div class='offset4 span12'>
			<ul class='pills'>
				<li#{if 'idAsset' == request.actionMethod} class='active'#{/if}><a href='@{RiskController.idAsset()}'>&{'menu.idAsset'}</a></li>
				<li#{if 'idThreat' == request.actionMethod} class='active'#{/if}><a href='@{RiskController.idThreat()}'>&{'menu.idThreat'}</a></li>
				<li#{if 'idControl' == request.actionMethod} class='active'#{/if}><a href='@{RiskController.idControl()}'>&{'menu.idControl'}</a></li>
				<li#{if 'idImpact' == request.actionMethod} class='active'#{/if}><a href='@{RiskController.idImpact()}'>&{'menu.idImpact'}</a></li>
			</ul>
		</div>
	</div>
</div>

#{doLayout/}