#{extends 'RiskController/id.html'/}
#{set title:messages.get('project.name')/}

<div class='container'>
	<div class='row'>
		<div class='span16'><h1>&{'page.id.asset.primary'}</h1></div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span8'><h2>&{'page.id.asset.primary.process'}</h2></div>
		<div class='span8'><h2>&{'page.id.asset.primary.info'}</h2></div>
	</div>
	<div class='row'>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:primaryProcessAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'><a class='btn small' href='@{RiskController.deletePrimaryAsset(asset.id)}'>&{'form.delete'}</a></td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:primaryInfoAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'><a class='btn small' href='@{RiskController.deletePrimaryAsset(asset.id)}'>&{'form.delete'}</a></td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
		#{form @RiskController.addPrimaryAsset()}
			<input name='type' type='hidden' value='${models.PrimaryAsset.Type.PROCESS}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
		<div class='span8'>
		#{form @RiskController.addPrimaryAsset()}
			<input name='type' type='hidden' value='${models.PrimaryAsset.Type.INFO}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span16'><h1>&{'page.id.asset.supporting'}</h1></div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span8'><h2>&{'page.id.asset.supporting.hardware'}</h2></div>
		<div class='span8'><h2>&{'page.id.asset.supporting.software'}</h2></div>
	</div>
	<div class='row'>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingHardwareAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingSoftwareAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.HARDWARE}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.SOFTWARE}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span8'><h2>&{'page.id.asset.supporting.network'}</h2></div>
		<div class='span8'><h2>&{'page.id.asset.supporting.personnel'}</h2></div>
	</div>
	<div class='row'>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingNetworkAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingPersonnelAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.NETWORK}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.PERSONNEL}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span8'><h2>&{'page.id.asset.supporting.site'}</h2></div>
		<div class='span8'><h2>&{'page.id.asset.supporting.organization'}</h2></div>
	</div>
	<div class='row'>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingSiteAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
		<div class='span8'>
			<table class='condensed-table'>
				<tbody>
				#{list items:supportingOrganizationAssets, as:'asset'}
					<tr>
						<td>${asset.name}</td>
						<td class='tail'>
							<a asset-id='${asset.id}' class='select-primary-asset btn #{ifnot asset.primaryAssets.size()}primary#{/ifnot} small'>&{'page.id.asset.supporting.link.start'}</a>
							<a class='btn small' href='@{RiskController.deleteSupportingAsset(asset.id)}'>&{'form.delete'}</a>
						</td>
					</tr>
				#{/list}
				#{else}<tr><td>&{'page.id.asset.nothing'}</td></tr>#{/else}
				</tbody>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.SITE}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
		<div class='span8'>
		#{form @RiskController.addSupportingAsset()}
			<input name='type' type='hidden' value='${models.SupportingAsset.Type.ORGANIZATION}'/>
			<div class='clearfix'>
				<input class='span8' name='name' type='text' title='&{'form.new'}'/>
			</div>
		#{/form}
		</div>
	</div>
</div>

<div id='primary-asset-modal' class='modal hide'>
	<div class="modal-body">
		#{form @RiskController.bindToPrimaryAsset()}
		<input type="hidden" name="assetId"/>

		<h2>&{'page.id.asset.primary.process'}</h2>

		<ul class="inputs-list">
		#{list items:primaryProcessAssets, as:'asset'}
			<li>
				<label>
					<input type="checkbox" name="primaryAssetId[]" value='${asset.id}'/>
					<span>${asset.name}</span>
				</label>
			</li>
		#{/list}
		#{else}<li>&{'page.id.asset.nothing'}</li>#{/else}
		</ul>

		<h2>&{'page.id.asset.primary.info'}</h2>

		<ul class="inputs-list">
		#{list items:primaryInfoAssets, as:'asset'}
			<li>
				<label>
					<input type="checkbox" name="primaryAssetId[]" value='${asset.id}'/>
					<span>${asset.name}</span>
				</label>
			</li>
		#{/list}
		#{else}<li>&{'page.id.asset.nothing'}</li>#{/else}
		</ul>

		#{/form}
	</div>
	<div class='modal-footer'>
		<a href='#' class='btn primary'>&{'form.save'}</a>
		<a href='#' class='btn secondary'>&{'form.cancel'}</a>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		var id = 0;

		$('#primary-asset-modal').modal({keyboard:true,backdrop:true});

		$('.select-primary-asset').click(function() {
			id = $(this).attr("asset-id");
			$('#primary-asset-modal').modal('show');
		});

		$("#primary-asset-modal").bind("show",function() {
			var values = {
			#{list items:supportingAssets, as:'asset'}
				'${asset.id}' : [#{list items:asset.primaryAssets, as:'primaryAsset'}${primaryAsset.id},#{/list}],
			#{/list}
			};

			$("#primary-asset-modal input[type='checkbox']").removeAttr("checked");

			$.each(values,function(i,value) {
				if (i == id) {
					$("#primary-asset-modal input[name='assetId']").attr("value",id);

					$.each(value,function(j,v) {
						$("#primary-asset-modal input[type='checkbox'][value='" + v + "']").attr("checked","true");
					});
				}
			});
		});

		$("#primary-asset-modal a.primary").click(function() {
			$("#primary-asset-modal form").submit();
		});

		$("#primary-asset-modal a.secondary").click(function() {
			$("#primary-asset-modal").modal("hide");
		});
	});
</script>