#{extends 'template.html'/}
<div id='home-container' class='container'>
    <div class='row'>
        <div class='span8'>
			<div id='logo'>&{'project.name'}</div>
	        <div id='description'>&{'project.description'}</div>
        </div>
		<div class='span8'>
			<ul id='form-selector' class='pills input-shift' data-pills='pills'>
				<li#{if null == flash.action || 'login' == flash.action} class='active'#{/if}><a href='#form-entrance'>&{'form.login.entrance'}</a></li>
				<li#{if 'register' == flash.action} class='active'#{/if}><a href='#form-registration'>&{'form.login.registration'}</a></li>
			</ul>
			<div class='tab-content'>
				<div id='form-entrance'#{if null == flash.action || 'login' == flash.action} class='active'#{/if}>
					#{form @HomeController.login()}
						<input type='hidden' name='action' value='login'/>
						<div class='clearfix#{ifError 'username'} error#{/ifError}'>
							<label for='form-username-1'>&{'form.login.username'}</label>
							<div class='input'><input id="form-username-1" name="username" type='text' class='span4' value='${flash.username}'/></div>
						</div>
						<div class='clearfix#{ifError 'password'} error#{/ifError}'>
							<label for='form-password-1'>&{'form.login.password'}</label>
							<div class='input'><input id='form-password-1' name='password' type='password' class='span4' value='${flash.password}'/></div>
						</div>
						<div class='clearfix'>
							<div class='input'><input type="submit" class="btn primary" value="&{'form.login.login'}"/></div>
						</div>
					#{/form}
				</div>
				<div id='form-registration'#{if 'register' == flash.action} class='active'#{/if}>
					#{form @HomeController.register()}
						<input type='hidden' name='action' value='register'/>
						<div class='clearfix#{ifError 'username'} error#{/ifError}'>
							<label for='form-username-1'>&{'form.login.username'}</label>
							<div class='input'><input id="form-username-2" name="username" type='text' class='span4' value='${flash.username}'/></div>
						</div>
						<div class='clearfix#{ifError 'password'} error#{/ifError}'>
							<label for='form-password-1'>&{'form.login.password'}</label>
							<div class='input'><input id='form-password-2' name='password' type='password' class='span4' value='${flash.password}'/></div>
						</div>
						<div class='clearfix'>
							<div class='input'><input type="submit" class="btn primary" value="&{'form.login.register'}"/></div>
						</div>
					#{/form}
				</div>
			</div>
		</div>
    </div>
</div>