<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title'/}</title>

        <link rel='stylesheet' type='text/css' media='screen' href='@{'/public/style/bootstrap.min.css'}'/>
        <link rel='stylesheet' type='text/css' media='screen' href='@{'/public/style/screen.css'}'/>

	    <link rel='shortcut icon' type='image/png' href='@{'/public/image/visualpharm/umbrella.png'}'/>

	    *{<script type='text/javascript' src='@{'/public/js/less/less-1.2.0.min.js'}'></script>}*
	    #{script 'jquery/jquery-1.7.1.min.js'/}
        #{script 'jquery/jquery.inputhints.min.js'/}
        #{script 'bootstrap/bootstrap-tabs.js'/}
        #{script 'bootstrap/bootstrap-modal.js'/}
	    #{get 'moreScripts'/}
    </head>
    <body>
        #{doLayout/}

        <script type='text/javascript'>
	        $(document).ready(function() {
		        $('input[title]').inputHints();

		        $('textarea').keydown(function(e) {
			        if (13 == e.keyCode && true != e.shiftKey) {
					    $(this).parents('form:first').submit();

				        return false;
			        }
		        });
	        });
        </script>
    </body>
</html>
